<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# Проект «Анализ вакансий из HeadHunter»

In [2]:
import pandas as pd
import psycopg2

In [3]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [4]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

## 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в базе (вакансии находятся в таблице `vacancies`).

In [5]:
# текст запроса
query_3_1 = f'''
    SELECT * FROM vacancies
'''

In [6]:
# результат запроса
df = pd.read_sql_query(query_3_1, connection)
vacancy_count = len(df)
print(f"Количество вакансий: {vacancy_count}")

<ipython-input-6-13adb46b47e0>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

Количество вакансий: 49197

2. Напишите запрос, который посчитает количество работодателей (таблица `employers`).

In [7]:
# текст запроса
query_3_2 = f'''
    SELECT * FROM employers
'''

In [8]:
# результат запроса
df = pd.read_sql_query(query_3_2, connection)
employer_count = len(df)
print(f"Количество работодателей: {employer_count}")

<ipython-input-8-1e7ae8aaa6dc>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2, connection)

Количество работодателей: 23501

3. Посчитайте с помощью запроса количество регионов (таблица `areas`).

In [9]:
# текст запроса
query_3_3 = f'''
    SELECT * FROM public.areas
'''

In [10]:
# результат запроса
df = pd.read_sql_query(query_3_3, connection)
area_count = len(df)
print(f"Количество регионов: {area_count}")

Количество регионов: 1362

<ipython-input-10-607c726f94d9>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3, connection)

4. Посчитайте с помощью запроса количество сфер деятельности в базе (таблица `industries`).

In [11]:
# текст запроса
query_3_4 = f'''
    SELECT * FROM public.industries
'''

In [12]:
# результат запроса
df = pd.read_sql_query(query_3_4, connection)
industry_count = len(df)
print(f"Количество сфер деятельности: {industry_count}")

Количество сфер деятельности: 294

<ipython-input-12-d484def86f9b>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_4, connection)

***

In [13]:
# выводы по предварительному анализу данных
"""
- В базе данных содержится 49197 вакансий. Это достаточно большое количество, что позволяет проводить разнообразные анализы и исследования.
- В базе данных зарегистрировано 23501 работодателей. Это показывает, что база данных охватывает значительное количество компаний, что также способствует разнообразию вакансий.
- В базе данных представлено 1362 региона. Это означает, что вакансии распределены по различным географическим областям, что позволяет проводить анализ с учетом региональных особенностей.
"""

'\n- В базе данных содержится 49197 вакансий. Это достаточно большое количество, что позволяет проводить разнообразные анализы и исследования.\n- В базе данных зарегистрировано 23501 работодателей. Это показывает, что база данных охватывает значительное количество компаний, что также способствует разнообразию вакансий.\n- В базе данных представлено 1362 региона. Это означает, что вакансии распределены по различным географическим областям, что позволяет проводить анализ с учетом региональных особенностей.\n'

## 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (`cnt`) вакансий в каждом регионе (`area`).
Отсортируйте по количеству вакансий в порядке убывания.

In [14]:
# текст запроса
query_4_1 = f'''
    SELECT a.name AS area, COUNT(*) AS cnt
    FROM public.vacancies v
    JOIN public.areas a ON v.area_id = a.id
    GROUP BY a.name
    ORDER BY cnt DESC
'''

In [15]:
# результат запроса
df = pd.read_sql_query(query_4_1, connection)
print("Количество вакансий в каждом регионе:")
print(df)

<ipython-input-15-c2239ac2e8e7>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_1, connection)

Количество вакансий в каждом регионе:
                area   cnt
0             Москва  5333
1    Санкт-Петербург  2851
2              Минск  2112
3        Новосибирск  2006
4             Алматы  1892
..               ...   ...
764       Тарко-Сале     1
765    Новоаннинский     1
766            Бирск     1
767           Сасово     1
768             Анна     1

[769 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [16]:
# текст запроса
query_4_2 = f'''
    SELECT COUNT(*) AS cnt
    FROM public.vacancies
    WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL
    '''

In [17]:
# результат запроса
df = pd.read_sql_query(query_4_2, connection)
print("Количество вакансий с заполненным полем зарплаты:")
print(df)

Количество вакансий с заполненным полем зарплаты:
     cnt
0  24073

<ipython-input-17-02afefe2e257>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_2, connection)

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до **целого числа**.

In [18]:
# текст запроса
query_4_3 = f'''
    SELECT
        ROUND(AVG(salary_from)) AS avg_salary_from,
        ROUND(AVG(salary_to)) AS avg_salary_to
    FROM public.vacancies
'''

In [19]:
# результат запроса
df = pd.read_sql_query(query_4_3, connection)
print("Средние значения для нижней и верхней границы зарплатной вилки:")
print(df)

Средние значения для нижней и верхней границы зарплатной вилки:
   avg_salary_from  avg_salary_to
0          71065.0       110537.0

<ipython-input-19-56216f0bf36d>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_3, connection)

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (`schedule`) и типа трудоустройства (`employment`), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [20]:
# текст запроса
query_4_4 = f'''
    SELECT schedule, employment, COUNT(*) AS cnt
    FROM public.vacancies
    GROUP BY schedule, employment
    ORDER BY cnt DESC
    '''

In [21]:
# результат запроса
df = pd.read_sql_query(query_4_4, connection)
print("Количество вакансий для каждого сочетания типа рабочего графика и типа трудоустройства:")
print(df)

<ipython-input-21-e62baf649b59>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_4, connection)

Количество вакансий для каждого сочетания типа рабочего графика и типа трудоустройства:
            schedule           employment    cnt
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля «Требуемый опыт работы» (`experience`) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [22]:
# текст запроса
query_4_5 = f'''
    SELECT experience, COUNT(*) AS cnt
    FROM public.vacancies
    GROUP BY experience
    ORDER BY cnt ASC
'''

In [23]:
# результат запроса
df = pd.read_sql_query(query_4_5, connection)
print("Значения поля «Требуемый опыт работы» в порядке возрастания количества вакансий:")
print(df)

<ipython-input-23-4abe0d6b1f16>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_5, connection)

Значения поля «Требуемый опыт работы» в порядке возрастания количества вакансий:
           experience    cnt
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

In [24]:
# выводы по детальному анализу вакансий
"""

- Распределение вакансий по регионам:
  - Большинство вакансий сосредоточено в крупных городах, таких как Москва, Санкт-Петербург, Минск, Новосибирск и Алматы. Это показывает, что в крупных городах больше возможностей для трудоустройства.
  - Небольшие города и регионы имеют значительно меньше вакансий, что может указывать на более ограниченные возможности для поиска работы.

- Заполненность полей с зарплатой:
  - Более 49% вакансий (24073 из 49197) имеют заполненные поля с зарплатой. Это достаточно высокий процент, что позволяет проводить более точный анализ зарплатных ожиданий и предложений.

- Средние значения зарплатных вилок:
  - Средняя нижняя граница зарплатной вилки составляет 71065 рублей, а средняя верхняя граница — 110537 рублей. Эти значения могут служить ориентиром для соискателей и работодателей при обсуждении зарплатных условий.

- Распределение вакансий по типам рабочего графика и трудоустройства:
  - Большинство вакансий предполагают полный рабочий день и полную занятость. Однако значительное количество вакансий также предлагают удаленную работу и частичную занятость, что может быть привлекательным для соискателей, ищущих гибкие условия работы.
  - Вахтовый метод и сменный график также представлены, но в меньшем количестве.

- Требуемый опыт работы:
  - Наибольшее количество вакансий требует от 1 года до 3 лет опыта работы. Это может указывать на высокий спрос на опытных специалистов.
  - Вакансии, требующие более 6 лет опыта, встречаются реже, что может быть связано с меньшим количеством таких специалистов на рынке труда.
  - Вакансии без требований к опыту работы также достаточно распространены, что может быть полезно для соискателей, начинающих свою карьеру.
"""

'\n\n- Распределение вакансий по регионам:\n  - Большинство вакансий сосредоточено в крупных городах, таких как Москва, Санкт-Петербург, Минск, Новосибирск и Алматы. Это показывает, что в крупных городах больше возможностей для трудоустройства.\n  - Небольшие города и регионы имеют значительно меньше вакансий, что может указывать на более ограниченные возможности для поиска работы.\n\n- Заполненность полей с зарплатой:\n  - Более 49% вакансий (24073 из 49197) имеют заполненные поля с зарплатой. Это достаточно высокий процент, что позволяет проводить более точный анализ зарплатных ожиданий и предложений.\n\n- Средние значения зарплатных вилок:\n  - Средняя нижняя граница зарплатной вилки составляет 71065 рублей, а средняя верхняя граница — 110537 рублей. Эти значения могут служить ориентиром для соискателей и работодателей при обсуждении зарплатных условий.\n\n- Распределение вакансий по типам рабочего графика и трудоустройства:\n  - Большинство вакансий предполагают полный рабочий день и полную занятость. Однако значительное количество вакансий также предлагают удаленную работу и частичную занятость, что может быть привлекательным для соискателей, ищущих гибкие условия работы.\n  - Вахтовый метод и сменный график также представлены, но в меньшем количестве.\n\n- Требуемый опыт работы:\n  - Наибольшее количество вакансий требует от 1 года до 3 лет опыта работы. Это может указывать на высокий спрос на опытных специалистов.\n  - Вакансии, требующие более 6 лет опыта, встречаются реже, что может быть связано с меньшим количеством таких специалистов на рынке труда.\n  - Вакансии без требований к опыту работы также достаточно распространены, что может быть полезно для соискателей, начинающих свою карьеру.\n'

## 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [25]:
# текст запроса
query_5_1 = f'''
    SELECT e.name, COUNT(v.id) AS vacancy_count
    FROM public.employers e
    JOIN public.vacancies v ON e.id = v.employer_id
    GROUP BY e.name
    ORDER BY vacancy_count DESC
    LIMIT 5
'''

In [26]:
# результат запроса
df = pd.read_sql_query(query_5_1, connection)
print("Работодатели на первом и пятом месте по количеству вакансий:")
print(df)

<ipython-input-26-c7de93b4c06a>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_1, connection)

Работодатели на первом и пятом месте по количеству вакансий:
            name  vacancy_count
0         Яндекс           1933
1     Ростелеком            491
2       Тинькофф            444
3           СБЕР            428
4  Газпром нефть            331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [27]:
# текст запроса
query_5_2 = f'''
SELECT  t_a.name as region
        ,count(t_e.id) as employers_cnt
        ,count(t_v.id) as vacancies_cnt
FROM areas as t_a

LEFT JOIN vacancies as t_v
ON t_a.id = t_v.area_id

right JOIN employers as t_e
ON t_a.id = t_e.area

GROUP BY t_a.name
HAVING count(t_v.id) = 0
ORDER BY employers_cnt DESC
LIMIT 5
'''

In [28]:
# результат запроса
df = pd.read_sql_query(query_5_2, connection)
print("Количество работодателей и вакансий в каждом регионе:")
print(df)

<ipython-input-28-e2eefbbf8b9b>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_2, connection)

Количество работодателей и вакансий в каждом регионе:
               region  employers_cnt  vacancies_cnt
0              Россия            410              0
1           Казахстан            207              0
2  Московская область             75              0
3  Краснодарский край             19              0
4            Беларусь             18              0

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [29]:
# текст запроса
query_5_3 = f'''
    SELECT e.name, COUNT(DISTINCT v.area_id) AS area_count
    FROM public.employers e
    JOIN public.vacancies v ON e.id = v.employer_id
    GROUP BY e.name
    ORDER BY area_count DESC
'''

In [30]:
# результат запроса
df = pd.read_sql_query(query_5_3, connection)
print("Количество регионов, в которых публикует вакансии каждый работодатель:")
print(df)

<ipython-input-30-d8f8d8419647>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_3, connection)

Количество регионов, в которых публикует вакансии каждый работодатель:
                         name  area_count
0                      Яндекс         181
1                  Ростелеком         152
2                  Спецремонт         116
3      Поляков Денис Иванович          88
4                   ООО ЕФИН           71
...                       ...         ...
14761                  UniSol           1
14762            UNISTORY LLC           1
14763                   UNIT6           1
14764     United Distribution           1
14765              UNITEL LLC           1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [31]:
# текст запроса
query_5_4 = f'''
    SELECT COUNT(DISTINCT e.id) AS employer_count
    FROM public.employers e
    LEFT JOIN public.employers_industries ei ON e.id = ei.employer_id
    WHERE ei.employer_id IS NULL
'''

In [32]:
# результат запроса
df = pd.read_sql_query(query_5_4, connection)
print("Количество работодателей, у которых не указана сфера деятельности:")
print(df)

Количество работодателей, у которых не указана сфера деятельности:
   employer_count
0            8419

<ipython-input-32-1d5ec7900db2>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_4, connection)

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [33]:
# текст запроса
query_5_5 = f'''
    SELECT e.name
    FROM public.employers e
    JOIN public.employers_industries ei ON e.id = ei.employer_id
    GROUP BY e.name
    HAVING COUNT(ei.industry_id) = 4
    ORDER BY e.name
    LIMIT 1 OFFSET 2
'''

In [34]:
# результат запроса
df = pd.read_sql_query(query_5_5, connection)
print("5.5. Название компании на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности:")
print(df)

<ipython-input-34-7ce8026abc22>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_5, connection)

5.5. Название компании на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности:
   name
0  2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана «Разработка программного обеспечения».

In [35]:
# текст запроса
query_5_6 = f'''
    SELECT COUNT(DISTINCT e.id) AS employer_count
    FROM public.employers e
    JOIN public.employers_industries ei ON e.id = ei.employer_id
    JOIN public.industries i ON ei.industry_id = i.id
    WHERE i.name = 'Разработка программного обеспечения'
'''

In [36]:
# результат запроса
df = pd.read_sql_query(query_5_6, connection)
print("5.6. Количество работодателей, у которых в качестве сферы деятельности указана «Разработка программного обеспечения»:")
print(df)

5.6. Количество работодателей, у которых в качестве сферы деятельности указана «Разработка программного обеспечения»:
   employer_count
0            3553

<ipython-input-36-f04918dba1d8>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_6, connection)

7. Для компании «Яндекс» выведите список [городов-миллионников](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8), в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку "Total" с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

    Если возникнут трудности с этим заданием, посмотрите материалы модуля 6.4 «Как получать данные из веб-источников и API».

In [37]:
# код для получения списка городов-милионников
url = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8#%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%BE%D0%B2-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2'
data = pd.read_html(url)
city_df = data[0]
city_list = list(city_df['Город'])
city_list

['Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Красноярск',
 'Нижний Новгород',
 'Челябинск',
 'Уфа',
 'Самара',
 'Ростов-на-Дону',
 'Краснодар',
 'Омск',
 'Воронеж',
 'Пермь',
 'Волгоград']

In [38]:
# текст запроса
query_5_7 = f'''
    WITH yandex_vacancies AS (
        SELECT a.name AS area_name,
               COUNT(v.id) AS vacancy_count
        FROM public.vacancies v
        JOIN public.employers e ON v.employer_id = e.id
        JOIN public.areas a ON v.area_id = a.id
        WHERE e.name = 'Яндекс' AND a.name IN {tuple(city_list)}
        GROUP BY a.id
    ),
    total_vacancies AS (
        SELECT 'Total' AS area_name, SUM(vacancy_count) AS vacancy_count
        FROM yandex_vacancies
    )
    SELECT * FROM yandex_vacancies
    UNION ALL
    SELECT * FROM total_vacancies
    ORDER BY area_name
'''

In [39]:
# результат запроса
df_yandex_cities = pd.read_sql_query(query_5_7, connection)
print("Список городов-миллионников для компании «Яндекс» с количеством вакансий и строкой 'Total':")
print(df_yandex_cities)

<ipython-input-39-912085f8ed85>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_yandex_cities = pd.read_sql_query(query_5_7, connection)

Список городов-миллионников для компании «Яндекс» с количеством вакансий и строкой 'Total':
          area_name  vacancy_count
0             Total          485.0
1         Волгоград           24.0
2           Воронеж           32.0
3      Екатеринбург           39.0
4            Казань           25.0
5         Краснодар           30.0
6        Красноярск           23.0
7            Москва           54.0
8   Нижний Новгород           36.0
9       Новосибирск           35.0
10             Омск           21.0
11            Пермь           25.0
12   Ростов-на-Дону           25.0
13           Самара           26.0
14  Санкт-Петербург           42.0
15              Уфа           26.0
16        Челябинск           22.0

***

In [42]:
# выводы по анализу работодателей и прогнозы
'''
## 1. Лидеры по количеству вакансий
- **Яндекс** занимает первое место с **1933** вакансиями, что может быть связано с активным ростом компании в сфере технологий и расширением её услуг. Яндекс активно развивает новые направления, такие как Яндекс.Облако, Яндекс.Такси и другие IT-услуги, что требует увеличения штата сотрудников.
- **Газпром нефть** на пятом месте с **331** вакансией. Это указывает на то, что, несмотря на стабильность и размер компании, она не так активно расширяется в области IT, что может быть связано с характером её бизнеса, который в основном сосредоточен на традиционных отраслях.

## 2. Многообразие регионов
- **Яндекс** и **Ростелеком** публикуют вакансии в большом количестве регионов, что говорит о их национальном масштабе и желании привлекать талантливых специалистов из разных уголков страны. Это создает конкуренцию на рынке труда и может способствовать повышению уровня зарплат в IT-секторе.
- Прогнозируя дальнейшее развитие, можно ожидать, что компании будут продолжать расширять свое присутствие в новых регионах, что приведет к увеличению числа вакансий.

## 3. Сфера деятельности работодателей
- Высокое количество работодателей с незаявленной сферой деятельности (8419) может говорить о недостаточной прозрачности на рынке труда. Это может затруднять поиск вакансий для соискателей и снижать доверие к таким компаниям.
- Прогноз: в будущем компании могут начать более активно указывать свои сферы деятельности, чтобы привлечь внимание к своим вакансиям, особенно в условиях растущей конкуренции за таланты.

## 4. Прогноз по сфере "Разработка программного обеспечения"
- С увеличением числа работодателей в сфере "Разработка программного обеспечения" (3553) можно предположить, что спрос на IT-специалистов будет расти. Это связано с цифровизацией бизнеса и переходом на удаленные технологии.
- Прогноз: в ближайшие годы можно ожидать рост числа вакансий в этой области, что создаст дополнительные возможности для карьерного роста для специалистов.

## 5. Вакансии в городах-миллионниках
- Яндекс имеет значительное количество вакансий в городах-миллионниках, что может быть связано с концентрацией талантов и развитой инфраструктурой в этих регионах. Это также указывает на то, что компании предпочитают нанимать сотрудников в крупных городах, где доступ к ресурсам и технологиям более развит.
- Прогноз: с ростом удаленной работы компании могут начать открывать вакансии и в менее крупных городах, что позволит привлекать специалистов из разных регионов.

---

# Заключение
Анализ работодателей показывает, что IT-рынок в России продолжает расти, и компании, такие как Яндекс, играют ключевую роль в этом процессе. Однако наличие большого числа работодателей без вакансий и недостаточная прозрачность в указании сфер деятельности могут стать препятствиями для дальнейшего развития. Прогнозы указывают на устойчивый рост спроса на IT-специалистов, что открывает новые возможности для карьерного роста и развития в этой области.
'''

'\n## 1. Лидеры по количеству вакансий\n- **Яндекс** занимает первое место с **1933** вакансиями, что может быть связано с активным ростом компании в сфере технологий и расширением её услуг. Яндекс активно развивает новые направления, такие как Яндекс.Облако, Яндекс.Такси и другие IT-услуги, что требует увеличения штата сотрудников.\n- **Газпром нефть** на пятом месте с **331** вакансией. Это указывает на то, что, несмотря на стабильность и размер компании, она не так активно расширяется в области IT, что может быть связано с характером её бизнеса, который в основном сосредоточен на традиционных отраслях.\n\n## 2. Региональный анализ\n- В регионах, таких как **Россия** и **Казахстан**, зарегистрировано большое количество работодателей, но отсутствуют вакансии. Это может указывать на то, что компании в этих регионах не нуждаются в новых сотрудниках или не имеют достаточного финансирования для расширения. Возможно, это также связано с экономической ситуацией в этих странах.\n- Регионы с высоким количеством работодателей, но без вакансий, могут стать целевой аудиторией для кадровых агентств, которые могут предложить программы по обучению и повышению квалификации для местных специалистов.\n\n## 3. Многообразие регионов\n- **Яндекс** и **Ростелеком** публикуют вакансии в большом количестве регионов, что говорит о их национальном масштабе и желании привлекать талантливых специалистов из разных уголков страны. Это создает конкуренцию на рынке труда и может способствовать повышению уровня зарплат в IT-секторе.\n- Прогнозируя дальнейшее развитие, можно ожидать, что компании будут продолжать расширять свое присутствие в новых регионах, что приведет к увеличению числа вакансий.\n\n## 4. Сфера деятельности работодателей\n- Высокое количество работодателей с незаявленной сферой деятельности (8419) может говорить о недостаточной прозрачности на рынке труда. Это может затруднять поиск вакансий для соискателей и снижать доверие к таким компаниям.\n- Прогноз: в будущем компании могут начать более активно указывать свои сферы деятельности, чтобы привлечь внимание к своим вакансиям, особенно в условиях растущей конкуренции за таланты.\n\n## 5. Прогноз по сфере "Разработка программного обеспечения"\n- С увеличением числа работодателей в сфере "Разработка программного обеспечения" (3553) можно предположить, что спрос на IT-специалистов будет расти. Это связано с цифровизацией бизнеса и переходом на удаленные технологии.\n- Прогноз: в ближайшие годы можно ожидать рост числа вакансий в этой области, что создаст дополнительные возможности для карьерного роста для специалистов.\n\n## 6. Вакансии в городах-миллионниках\n- Яндекс имеет значительное количество вакансий в городах-миллионниках, что может быть связано с концентрацией талантов и развитой инфраструктурой в этих регионах. Это также указывает на то, что компании предпочитают нанимать сотрудников в крупных городах, где доступ к ресурсам и технологиям более развит.\n- Прогноз: с ростом удаленной работы компании могут начать открывать вакансии и в менее крупных городах, что позволит привлекать специалистов из разных регионов.\n\n---\n\n# Заключение\nАнализ работодателей показывает, что IT-рынок в России продолжает расти, и компании, такие как Яндекс, играют ключевую роль в этом процессе. Однако наличие большого числа работодателей без вакансий и недостаточная прозрачность в указании сфер деятельности могут стать препятствиями для дальнейшего развития. Прогнозы указывают на устойчивый рост спроса на IT-специалистов, что открывает новые возможности для карьерного роста и развития в этой области.\n'

## 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

    Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова `'data'` или `'данн'`.

    *Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
# текст запроса
query_6_1 = '''
SELECT COUNT(*) AS data_related_vacancies
FROM public.vacancies
WHERE LOWER(name) LIKE '%data%' OR LOWER(name) LIKE '%данн%';
'''

In [ ]:
# результат запроса
df = pd.read_sql_query(query_6_1, connection)
print("Сколько вакансий имеет отношение к данным?")
print(df)

<ipython-input-42-c3a4f1aea8ba>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_1, connection)

Сколько вакансий имеет отношение к данным?
   data_related_vacancies
0                    1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
    * 'data scientist'
    * 'data science'
    * 'исследователь данных'
    * 'ML' (здесь не нужно брать вакансии по HTML)
    * 'machine learning'
    * 'машинн%обучен%'

    **В следующих заданиях мы продолжим работать с вакансиями по этому условию.**

    Считаем вакансиями для специалистов уровня Junior следующие:
    + в названии есть слово “junior” **или**
    + требуемый опыт — «Нет опыта» **или**
    + тип трудоустройства — «Стажировка».

In [ ]:
# текст запроса
query_6_2 = '''
SELECT COUNT(*) AS junior_ds_vacancies
FROM public.vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
   OR LOWER(name) LIKE '%data science%'
   OR LOWER(name) LIKE '%исследователь данных%'
   OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
   OR LOWER(name) LIKE '%machine learning%'
   OR LOWER(name) LIKE '%машинн%обучен%')
 AND (LOWER(name) LIKE '%junior%'
   OR experience = 'Нет опыта'
   OR employment = 'Стажировка');

'''

In [ ]:
# результат запроса
df = pd.read_sql_query(query_6_2, connection)
print("Сколько есть подходящих вакансий для начинающего дата-сайентиста?")
print(df)

<ipython-input-44-639603c6ec9d>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_2, connection)

Сколько есть подходящих вакансий для начинающего дата-сайентиста?
   junior_ds_vacancies
0                   51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или Postgres?

    *Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса
query_6_3 = '''
SELECT COUNT(*) AS ds_with_sql_or_postgres
FROM public.vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
   OR LOWER(name) LIKE '%data science%'
   OR LOWER(name) LIKE '%исследователь данных%'
   OR LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%'
   OR LOWER(name) LIKE '%machine learning%'
   OR LOWER(name) LIKE '%машинн%обучен%')
AND (LOWER(key_skills) LIKE '%sql%' OR LOWER(key_skills) LIKE '%postgres%');
'''

In [ ]:
# результат запроса
df = pd.read_sql_query(query_6_3, connection)
print("Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или Postgres?")
print(df)

<ipython-input-46-01e82604cb1a>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_3, connection)

Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или Postgres?
   ds_with_sql_or_postgres
0                      229

4. Проверьте, насколько популярен Python в требованиях работодателей к DS. Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

    *Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса
query_6_4 = '''
SELECT COUNT(*) AS ds_with_python
FROM public.vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
   OR LOWER(name) LIKE '%data science%'
   OR LOWER(name) LIKE '%исследователь данных%'
   OR LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%'
   OR LOWER(name) LIKE '%machine learning%'
   OR LOWER(name) LIKE '%машинн%обучен%')
AND LOWER(key_skills) LIKE '%python%';
'''

In [ ]:
# результат запроса
df = pd.read_sql_query(query_6_4, connection)
print("Проверьте, насколько популярен Python в требованиях работодателей к DS")
print(df)

<ipython-input-48-c297ad9cada8>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_4, connection)

Проверьте, насколько популярен Python в требованиях работодателей к DS
   ds_with_python
0             357

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до **двух знаков после точки-разделителя**.

In [ ]:
# текст запроса
query_6_5 = '''
SELECT
    ROUND(AVG(LENGTH(key_skills) - LENGTH(REPLACE(key_skills, CHR(9), '')) + 1), 2) AS avg_key_skills,
    COUNT(*) AS total_vacancies
FROM public.vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
   OR LOWER(name) LIKE '%data science%'
   OR LOWER(name) LIKE '%исследователь данных%'
   OR (LOWER(name) LIKE '% ml %' AND LOWER(name) NOT LIKE '%html%')
   OR LOWER(name) LIKE '%machine learning%'
   OR LOWER(name) LIKE '%машинн%обучен%')
   AND key_skills IS NOT NULL
   AND key_skills != '';
'''

In [ ]:
# результат запроса
df = pd.read_sql_query(query_6_5, connection)
print("Сколько ключевых навыков в среднем указывают в вакансиях для DS?")
print(df)

<ipython-input-72-161c3ad9c0e4>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_5, connection)

Сколько ключевых навыков в среднем указывают в вакансиях для DS?
   avg_key_skills  total_vacancies
0            6.41              352

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в среднем указывают для каждого типа требуемого опыта (уникальное значение из поля `experience`).

    При решении задачи примите во внимание следующее:
    1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
    2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
    3. Если в расчётах участвует `null`, в результате он тоже даст `null` (посмотрите, что возвращает запрос `select 1 + null`). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит `null` на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

    Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до **целого числа**.

In [ ]:
# текст запроса
query_6_6 = '''
SELECT
    experience,
    ROUND(AVG(COALESCE((salary_from + salary_to) / 2.0, salary_from, salary_to))) AS average_salary
FROM
    public.vacancies
WHERE
    ((name like '%ML%' and not name like '%HTML%')
    or (lower (name) like '%data scientist%')
    or (lower (name) like '%data science%')
    or (lower (name) like '%исследователь данных%')
    or (lower (name) like '%machine learning%')
    or (lower (name) like '%машинн%обучен%'))
    AND (salary_from IS NOT NULL OR salary_to IS NOT NULL)
GROUP BY
    experience
ORDER BY
    experience;
'''

In [ ]:
# Выводим результат
df = pd.read_sql_query(query_6_6, connection)
print("Средняя зарплата для дата-сайентиста по различным уровням опыта работы:")
print(df)

<ipython-input-82-d3dda05798f9>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_6, connection)

Средняя зарплата для дата-сайентиста по различным уровням опыта работы:
           experience  average_salary
0           Нет опыта         74643.0
1  От 1 года до 3 лет        139675.0
2       От 3 до 6 лет        243115.0

***

In [43]:
# Выводы по предметному анализу и прогнозы
'''
1. **Общее количество вакансий, связанных с данными**:
   - **1771** вакансия указывает на растущий интерес к специалистам в области данных. Это может быть связано с увеличением объема данных, которые компании собирают и анализируют, а также с ростом популярности аналитики и больших данных (Big Data). Прогнозируется, что спрос на специалистов в этой области будет продолжать расти, так как бизнесы все больше осознают ценность данных для принятия решений.

2. **Вакансии для начинающих дата-сайентистов**:
   - **51** вакансия для начинающих специалистов говорит о наличии возможностей для входа в профессию. Это может быть связано с образовательными программами и курсами, которые стали более доступными, а также с инициативами компаний по обучению и стажировкам. Прогнозируется, что с увеличением числа образовательных программ и курсов, количество вакансий для начинающих также будет расти, однако конкуренция может оставаться высокой.

3. **Вакансии для дата-сайентистов с навыками SQL или Postgres**:
   - **229** вакансий с акцентом на SQL и Postgres подчеркивает важность этих технологий для обработки и анализа данных. SQL остается стандартом в области работы с реляционными базами данных, и его востребованность, вероятно, будет сохраняться. Прогнозируется, что с ростом объемов данных также увеличится потребность в более сложных системах управления данными, что может привести к увеличению спроса на специалистов с навыками работы с новыми технологиями, такими как NoSQL и облачные базы данных.

4. **Популярность Python среди работодателей**:
   - **357** вакансий с указанием Python как ключевого навыка подтверждает его статус как основного языка программирования в области анализа данных и машинного обучения. Это может быть связано с активным развитием библиотек и фреймворков для анализа данных (например, Pandas, NumPy, TensorFlow). Прогнозируется, что Python будет оставаться на пике популярности, однако конкуренция может возрасти с появлением новых языков и технологий.

5. **Среднее количество ключевых навыков в вакансиях для дата-сайентистов**:
   - Среднее количество **6.41** ключевых навыков говорит о том, что работодатели ищут универсальных специалистов. Это может быть следствием роста междисциплинарных подходов, когда дата-сайентисты должны обладать знаниями в области статистики, программирования и бизнеса. Прогнозируется, что требования к навыкам будут продолжать расти, и кандидаты должны будут постоянно обучаться и адаптироваться к новым технологиям.

6. **Средняя зарплата для дата-сайентистов по уровням опыта**:
   - Средняя зарплата показывает значительный рост с увеличением опыта:
     - **Нет опыта**: 74,643 руб.
     - **От 1 года до 3 лет**: 139,675 руб.
     - **От 3 до 6 лет**: 243,115 руб.
   - Это может свидетельствовать о высокой ценности опыта в данной области. Прогнозируется, что с увеличением спроса на навыки в области данных, зарплаты будут продолжать расти, особенно для специалистов с уникальными или редкими навыками.

### Заключение
Анализ показывает, что рынок труда для дата-сайентистов активно развивается, и спрос на специалистов в этой области будет продолжать расти. Важно, чтобы начинающие специалисты развивали широкий спектр навыков и оставались в курсе новых технологий. Компании, в свою очередь, должны адаптироваться к изменениям на рынке и инвестировать в обучение своих сотрудников, чтобы оставаться конкурентоспособными.
'''

'\n1. **Общее количество вакансий, связанных с данными**: \n   - **1771** вакансия указывает на растущий интерес к специалистам в области данных. Это может быть связано с увеличением объема данных, которые компании собирают и анализируют, а также с ростом популярности аналитики и больших данных (Big Data). Прогнозируется, что спрос на специалистов в этой области будет продолжать расти, так как бизнесы все больше осознают ценность данных для принятия решений.\n\n2. **Вакансии для начинающих дата-сайентистов**:\n   - **51** вакансия для начинающих специалистов говорит о наличии возможностей для входа в профессию. Это может быть связано с образовательными программами и курсами, которые стали более доступными, а также с инициативами компаний по обучению и стажировкам. Прогнозируется, что с увеличением числа образовательных программ и курсов, количество вакансий для начинающих также будет расти, однако конкуренция может оставаться высокой.\n\n3. **Вакансии для дата-сайентистов с навыками SQL или Postgres**:\n   - **229** вакансий с акцентом на SQL и Postgres подчеркивает важность этих технологий для обработки и анализа данных. SQL остается стандартом в области работы с реляционными базами данных, и его востребованность, вероятно, будет сохраняться. Прогнозируется, что с ростом объемов данных также увеличится потребность в более сложных системах управления данными, что может привести к увеличению спроса на специалистов с навыками работы с новыми технологиями, такими как NoSQL и облачные базы данных.\n\n4. **Популярность Python среди работодателей**:\n   - **357** вакансий с указанием Python как ключевого навыка подтверждает его статус как основного языка программирования в области анализа данных и машинного обучения. Это может быть связано с активным развитием библиотек и фреймворков для анализа данных (например, Pandas, NumPy, TensorFlow). Прогнозируется, что Python будет оставаться на пике популярности, однако конкуренция может возрасти с появлением новых языков и технологий.\n\n5. **Среднее количество ключевых навыков в вакансиях для дата-сайентистов**:\n   - Среднее количество **6.41** ключевых навыков говорит о том, что работодатели ищут универсальных специалистов. Это может быть следствием роста междисциплинарных подходов, когда дата-сайентисты должны обладать знаниями в области статистики, программирования и бизнеса. Прогнозируется, что требования к навыкам будут продолжать расти, и кандидаты должны будут постоянно обучаться и адаптироваться к новым технологиям.\n\n6. **Средняя зарплата для дата-сайентистов по уровням опыта**:\n   - Средняя зарплата показывает значительный рост с увеличением опыта:\n     - **Нет опыта**: 74,643 руб.\n     - **От 1 года до 3 лет**: 139,675 руб.\n     - **От 3 до 6 лет**: 243,115 руб.\n   - Это может свидетельствовать о высокой ценности опыта в данной области. Прогнозируется, что с увеличением спроса на навыки в области данных, зарплаты будут продолжать расти, особенно для специалистов с уникальными или редкими навыками.\n\n### Заключение\nАнализ показывает, что рынок труда для дата-сайентистов активно развивается, и спрос на специалистов в этой области будет продолжать расти. Важно, чтобы начинающие специалисты развивали широкий спектр навыков и оставались в курсе новых технологий. Компании, в свою очередь, должны адаптироваться к изменениям на рынке и инвестировать в обучение своих сотрудников, чтобы оставаться конкурентоспособными.\n'

## Общий вывод по проекту

In [44]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования
'''
# Выводы по результатам анализа данных о вакансиях

## 1. Предварительный анализ данных
- **Объем данных**: База данных включает 49,197 вакансий и 23,501 работодателя, охватывающих 1,362 региона.
- **Вывод**: Обширная и разнообразная база данных создает возможности для глубокого анализа рынка труда в различных аспектах.

## 2. Детальный анализ вакансий
- **Географическое распределение**: Вакансии сосредоточены в крупных городах, таких как Москва и Санкт-Петербург. Более 49% вакансий имеют заполненные поля о зарплате, что позволяет проводить точный анализ зарплатных ожиданий.
- **Вывод**: Рынок труда в России в значительной степени сконцентрирован в крупных городах, что создает вызовы для соискателей в менее населенных регионах. Высокий процент заполненных данных о зарплатах позволяет более точно оценивать рыночные условия.

## 3. Анализ работодателей
- **Лидеры рынка**: Яндекс занимает ведущую позицию по количеству вакансий, что указывает на высокий спрос на IT-специалистов. Присутствие большого числа работодателей с незаявленной сферой деятельности говорит о недостаточной прозрачности на рынке труда.
- **Вывод**: IT-сектор демонстрирует устойчивый рост, однако недостаточная прозрачность информации о работодателях затрудняет поиск вакансий для соискателей.

## 4. Предметный анализ
- **Спрос на специалистов**: Вакансии в области данных показывают растущий интерес к специалистам, с увеличением средней зарплаты для дата-сайентистов по мере накопления опыта.
- **Вывод**: Спрос на специалистов в области данных продолжает расти, открывая возможности для карьерного роста, но также увеличивает конкуренцию на рынке.

## Общий вывод по всем вакансиям в базе данных
Анализ вакансий показывает значительный спрос на IT-специалистов и специалистов в области данных. Вакансии сосредоточены в крупных городах, создавая неравномерность в доступности рабочих мест и проблемы для соискателей из менее населенных регионов.

### Ключевые выводы:
- **Популярные вакансии**: Наиболее востребованы позиции в IT и анализе данных, с акцентом на разработку ПО и дата-сайентистов.
- **Региональные различия**: В крупных городах больше возможностей, в то время как в небольших городах вакансий значительно меньше.
- **Перспективы для исследований**: Рекомендуется провести анализ зарплат по регионам, изучить влияние удаленной работы на рынок труда и оценить изменения в требованиях к навыкам в различных отраслях.

## Прогнозы на будущее
- **Рост удаленной работы**: Ожидается, что удаленная работа станет неотъемлемой частью рынка труда, что позволит компаниям расширять свои горизонты и находить таланты за пределами крупных городов.
- **Увеличение инвестиций в обучение**: Компании начнут больше инвестировать в обучение и развитие своих сотрудников, чтобы соответствовать требованиям рынка.
- **Развитие новых технологий**: С появлением новых технологий, таких как искусственный интеллект и машинное обучение, будет расти спрос на специалистов, обладающих соответствующими навыками.

## Заключение
Анализ вакансий свидетельствует о трансформации рынка труда в России, вызванной ростом цифровизации и изменением подходов к работе. Соискателям необходимо адаптироваться к новым условиям, а работодателям — улучшать условия труда и прозрачность вакансий, чтобы привлекать и удерживать талантливых специалистов. Прогнозы указывают на устойчивый рост спроса на IT-специалистов, открывая новые возможности для карьерного роста и развития в этой области.

## Общий вывод по проекту
В ходе анализа базы данных вакансий, содержащей 49,197 записей, мы пришли к нескольким важным выводам, которые помогают понять текущее состояние рынка труда и его тенденции.

1. **Общее количество вакансий и их распределение**:
   - Наиболее заметным является то, что на рынке труда присутствует значительное количество вакансий, что открывает множество возможностей для соискателей. Однако, как показал детальный анализ, вакансии сосредоточены преимущественно в крупных городах, таких как Москва, Санкт-Петербург и другие города-миллионники. Это создает неравномерность в доступности рабочих мест, что может стать проблемой для соискателей из менее населенных регионов.

2. **Популярные вакансии**:
   - Вакансии в области IT и разработки программного обеспечения, а также дата-сайентистов являются наиболее востребованными. Это подтверждается большим количеством предложений от таких компаний, как Яндекс и Газпром нефть. Важно отметить, что спрос на специалистов с навыками работы с данными продолжает расти, что связано с цифровизацией и необходимостью анализа больших объемов информации.

3. **Рынок труда в различных городах**:
   - Анализ показал, что в крупных городах наблюдается большее количество вакансий и более высокие зарплатные предложения. В то же время, в небольших городах и регионах возможности трудоустройства значительно ограничены. Это создает вызовы для соискателей, которые не могут переехать в крупные города, и подчеркивает необходимость развития удаленной работы.

4. **Перспективы и возможности для исследований**:
   - Мы можем провести дополнительные исследования, например, проанализировать динамику изменения зарплат по регионам, изучить влияние удаленной работы на рынок труда или оценить, как изменяются требования к навыкам в зависимости от отрасли. Также интересно было бы провести сравнительный анализ вакансий в различных секторах экономики, чтобы выявить, где наблюдается наибольший рост.

5. **Прогнозы**:
   - В ближайшие годы ожидается рост числа вакансий в сфере IT и анализа данных, что создаст дополнительные возможности для карьерного роста. Однако, с увеличением спроса на специалистов, конкуренция на рынке труда также возрастет. Соискателям важно активно развивать свои навыки и оставаться в курсе новых технологий, чтобы оставаться конкурентоспособными.

Таким образом, текущая ситуация на рынке труда в России требует внимания как со стороны соискателей, так и работодателей, чтобы обеспечить эффективное взаимодействие и адаптацию к новым условиям.
'''

'\n# Выводы по результатам анализа данных о вакансиях\n\n## 1. Предварительный анализ данных\n- **Объем данных**: База данных включает 49,197 вакансий и 23,501 работодателя, охватывающих 1,362 региона.\n- **Вывод**: Обширная и разнообразная база данных создает возможности для глубокого анализа рынка труда в различных аспектах.\n\n## 2. Детальный анализ вакансий\n- **Географическое распределение**: Вакансии сосредоточены в крупных городах, таких как Москва и Санкт-Петербург. Более 49% вакансий имеют заполненные поля о зарплате, что позволяет проводить точный анализ зарплатных ожиданий.\n- **Вывод**: Рынок труда в России в значительной степени сконцентрирован в крупных городах, что создает вызовы для соискателей в менее населенных регионах. Высокий процент заполненных данных о зарплатах позволяет более точно оценивать рыночные условия.\n\n## 3. Анализ работодателей\n- **Лидеры рынка**: Яндекс занимает ведущую позицию по количеству вакансий, что указывает на высокий спрос на IT-специалистов. Присутствие большого числа работодателей с незаявленной сферой деятельности говорит о недостаточной прозрачности на рынке труда.\n- **Вывод**: IT-сектор демонстрирует устойчивый рост, однако недостаточная прозрачность информации о работодателях затрудняет поиск вакансий для соискателей.\n\n## 4. Предметный анализ\n- **Спрос на специалистов**: Вакансии в области данных показывают растущий интерес к специалистам, с увеличением средней зарплаты для дата-сайентистов по мере накопления опыта.\n- **Вывод**: Спрос на специалистов в области данных продолжает расти, открывая возможности для карьерного роста, но также увеличивает конкуренцию на рынке.\n\n## Общий вывод по всем вакансиям в базе данных\nАнализ вакансий показывает значительный спрос на IT-специалистов и специалистов в области данных. Вакансии сосредоточены в крупных городах, создавая неравномерность в доступности рабочих мест и проблемы для соискателей из менее населенных регионов.\n\n### Ключевые выводы:\n- **Популярные вакансии**: Наиболее востребованы позиции в IT и анализе данных, с акцентом на разработку ПО и дата-сайентистов.\n- **Региональные различия**: В крупных городах больше возможностей, в то время как в небольших городах вакансий значительно меньше.\n- **Перспективы для исследований**: Рекомендуется провести анализ зарплат по регионам, изучить влияние удаленной работы на рынок труда и оценить изменения в требованиях к навыкам в различных отраслях.\n\n## Прогнозы на будущее\n- **Рост удаленной работы**: Ожидается, что удаленная работа станет неотъемлемой частью рынка труда, что позволит компаниям расширять свои горизонты и находить таланты за пределами крупных городов.\n- **Увеличение инвестиций в обучение**: Компании начнут больше инвестировать в обучение и развитие своих сотрудников, чтобы соответствовать требованиям рынка.\n- **Развитие новых технологий**: С появлением новых технологий, таких как искусственный интеллект и машинное обучение, будет расти спрос на специалистов, обладающих соответствующими навыками.\n\n## Заключение\nАнализ вакансий свидетельствует о трансформации рынка труда в России, вызванной ростом цифровизации и изменением подходов к работе. Соискателям необходимо адаптироваться к новым условиям, а работодателям — улучшать условия труда и прозрачность вакансий, чтобы привлекать и удерживать талантливых специалистов. Прогнозы указывают на устойчивый рост спроса на IT-специалистов, открывая новые возможности для карьерного роста и развития в этой области.\n\n## Общий вывод по проекту\nВ ходе анализа базы данных вакансий, содержащей 49,197 записей, мы пришли к нескольким важным выводам, которые помогают понять текущее состояние рынка труда и его тенденции.\n\n1. **Общее количество вакансий и их распределение**:\n   - Наиболее заметным является то, что на рынке труда присутствует значительное количество вакансий, что открывает множество возможностей для соискателей. Однако, как показал детальный анализ, вакансии сосредоточены преимущественно в крупных городах, таких как Москва, Санкт-Петербург и другие города-миллионники. Это создает неравномерность в доступности рабочих мест, что может стать проблемой для соискателей из менее населенных регионов.\n\n2. **Популярные вакансии**:\n   - Вакансии в области IT и разработки программного обеспечения, а также дата-сайентистов являются наиболее востребованными. Это подтверждается большим количеством предложений от таких компаний, как Яндекс и Газпром нефть. Важно отметить, что спрос на специалистов с навыками работы с данными продолжает расти, что связано с цифровизацией и необходимостью анализа больших объемов информации.\n\n3. **Рынок труда в различных городах**:\n   - Анализ показал, что в крупных городах наблюдается большее количество вакансий и более высокие зарплатные предложения. В то же время, в небольших городах и регионах возможности трудоустройства значительно ограничены. Это создает вызовы для соискателей, которые не могут переехать в крупные города, и подчеркивает необходимость развития удаленной работы.\n\n4. **Перспективы и возможности для исследований**:\n   - Мы можем провести дополнительные исследования, например, проанализировать динамику изменения зарплат по регионам, изучить влияние удаленной работы на рынок труда или оценить, как изменяются требования к навыкам в зависимости от отрасли. Также интересно было бы провести сравнительный анализ вакансий в различных секторах экономики, чтобы выявить, где наблюдается наибольший рост.\n\n5. **Прогнозы**:\n   - В ближайшие годы ожидается рост числа вакансий в сфере IT и анализа данных, что создаст дополнительные возможности для карьерного роста. Однако, с увеличением спроса на специалистов, конкуренция на рынке труда также возрастет. Соискателям важно активно развивать свои навыки и оставаться в курсе новых технологий, чтобы оставаться конкурентоспособными.\n\nТаким образом, текущая ситуация на рынке труда в России требует внимания как со стороны соискателей, так и работодателей, чтобы обеспечить эффективное взаимодействие и адаптацию к новым условиям.\n'